<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-icon class="back" size="large" name="arrow-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>Edit Account</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item lines="none">
      <div class="profile">
        <ion-avatar>
          <ion-img src="assets/icon/user.png"></ion-img>
        </ion-avatar>
        <ion-card-header class="name">
          <ion-card-title>Hamza</ion-card-title>
        </ion-card-header>
      </div>
    </ion-item>  
    <ion-item lines="none">
      <div class="info">
        <p>First name</p>
        <h2>Hamza</h2>
      </div>
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>        
    <ion-item lines="none">
      <div class="info">
        <p>Sur name</p>
        <h2>Khalid</h2>
      </div>
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>        
    <ion-item lines="none">
      <div class="info">
        <p>Phone Number</p>
        <h2>03485068163</h2>
      </div>
    </ion-item>        
    <ion-item lines="none">
      <div class="info">
        <p>Email</p>
        <h2>hamzakhalid@gmail.com</h2>
      </div>
    </ion-item>        
</ion-list>

</ion-content>
