<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-icon class="back" size="large" name="arrow-back-outline"  routerLink="/dashboard"></ion-icon>
    </ion-buttons>
    <ion-title>Legal</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <a href="#">
      <ion-item>
        <ion-label>Copyright</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>  
    </a>
    <a href="#">
      <ion-item>
        <ion-label>Terms & Conditions</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>        
    </a>
    <a href="#">
      <ion-item>
        <ion-label>Privacy Policy</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>        
    </a>
    <a href="#">
      <ion-item>
        <ion-label>Data Providers</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>        
    </a>
    <a href="#">
      <ion-item>
        <ion-label>Software Licences</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>        
    </a>
    <a href="#">
      <ion-item>
        <ion-label>Location Information</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>        
    </a>
  </ion-list>

</ion-content>
