<ion-content>

  <ion-grid class="container">

    <ion-row class="back-button">
      <ion-col class="col">
        <div>
          <ion-icon class="back" size="large" name="arrow-back-outline" (click)="dismiss()"></ion-icon>
        </div>    
      </ion-col>
    </ion-row>

    <div>
      <ion-row>
        <ion-col class="col">
          <h2>Set your Email Address</h2>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col>
          <h2 class="input">
            <span class="right"></span>
            <ion-input style="display: inline-block; width: 90%;" type="number"
            placeholder="hamzakhalid@gmail.com"></ion-input>   
          </h2>  
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-button class="btn-submit" color="danger" (click)="openPasswordSignupModal()">
        <ion-icon name="chevron-forward-outline" *ngIf="!loading"></ion-icon>
        <ion-spinner *ngIf="loading"></ion-spinner>
      </ion-button>  
    </ion-row>

  </ion-grid>

  <div class="container">
    </div>  
</ion-content>


