<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3 class="ion-text-center">How it Works</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides #slides pager="true" (ionSlideDidChange)="ionSlideChange(slides)">
    <ion-slide>
      <div class="slide">
        <ion-card>
          <img src="assets/backgrounds/6.png"/>
          <h2>Sign Up / Sign In</h2>
          <p>Sign up to ride with us comfortably and safely.</p>  
        </ion-card>
      </div>
    </ion-slide>    
    <ion-slide>
      <div class="slide">
        <ion-card>
          <img src="assets/backgrounds/7.png"/>
          <h2>Set Schedule</h2>
          <p>Use app to enter your schedules and submit ads.</p>  
        </ion-card>
      </div>
    </ion-slide>    
    <ion-slide>
      <div class="slide">
        <ion-card>
          <img src="assets/backgrounds/8.jpg"/>
          <h2>Share Ride</h2>
          <p>Share your Pickup and Drop Locations and Time.</p>  
        </ion-card>
      </div>
    </ion-slide>    
  </ion-slides>

  <ion-button class="skip" color="medium" *ngIf="skip" (click)="signIn()">Skip</ion-button>
  <ion-button class="continue" color="success" *ngIf="continue" (click)="signIn()">Continue</ion-button>

</ion-content>
